<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/assets/weather.png">
        <title>About</title>
        <link rel ='stylesheet' href = '/css/styles.css' />
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class='portrait' src='/assets/robot.png'/>
        </div>
        {{>footer}}
    </body>
</html>